.header {
    padding-bottom: 20px;
}
.divide.notop {
    margin-top: -28px;
    margin-bottom: 10px;
}
.sidebar .widget h5 {
    margin-bottom: 12px;
}

.section-content {
    margin-top: 20px;
}
.section-content ul {
    list-style: disc inside;
    margin-left: 10px;
}
.section-content ul li{
    margin: 5px;
}

.menu > li.menu-item > a {
    padding-right: 5px !important;
}
.downarrowclass {
    position: relative;
    margin-right: 3px;
    top: -1px;
}

a {
    color: #422142;
    text-decoration: underline;
    background-color: #f7f7f7;
}
.footer a {
    background-color: #222;
}
a:hover {
    text-decoration: none;
}
a.privacy-link,
a.privacy-link:visited{
    color: #999;
    background-color: transparent;
    font-size: 100%;
    margin-left: 10px;
    padding-left: 10px;
    border-left: solid thin #999;
}
#back-to-top {
    display: none;
    position: fixed;
    bottom: 80px;
    right: 0;
    z-index: 1000;
}
#back-to-top a,
#back-to-top a:visited {
    padding: 10px 20px;
    font-size: 1.3em;
    font-weight: bold;
}

.page-location {
    text-align: center;
}
button {
    background-color: #422142;
    font-size: 1.2em;
    font-weight: bold;
    font-family: 'PT Sans','Helvetica Neue',​Arial ,​sans-serif;
    padding: 8px;
}

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited {
    padding-left: 20px;
}

.best-banner {
    text-align: center;
}
.best-banner img {
    -ms-transform:rotate(15deg); /* IE 9 */
    -moz-transform:rotate(15deg); /* Firefox */
    -webkit-transform:rotate(15deg); /* Safari and Chrome */
    -o-transform:rotate(15deg); /* Opera */
    transform:rotate(15deg);
}

/*
in-page navigation (smooth scrolling)
*/
.in-page-nav {
    position: fixed;
    top: 220px;
    display: block;
    background-color: #F7F7F7;
    margin-left: -170px;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-collapse: collapse;
    z-index: 100;
}
.in-page-nav:hover {
}
.in-page-nav li {
    margin: 0;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
}
.in-page-nav li:last-child {
    border-bottom: 1px solid #ccc;
}
.in-page-nav li:hover {
    background-color: #fff;
}
.in-page-nav a {
    display: block;;
    padding: 13px 20px;
    font-size: 14px;
    font-family: 'PT Sans','Helvetica Neue',​Arial ,​sans-serif;
    font-weight: normal;
    color: #777;
    text-shadow: 0 0 1px rgba(102, 43, 102, 0.4);
    text-decoration: none;
}
.section-header {
    margin: 60px 0 0 0;
    padding-bottom: 25px;
    border-bottom: 1px solid #ddd;
}

/*
side bar Text widget styles
*/
.about-widget {
    text-align: center;
}
.about-widget .phone-number {
    font-size: 30px;
    white-space: nowrap;
}

.about-widget p {
    margin-top: -10px;
    color: #422142;
    font-size: .95em;
    font-weight: bold;
}

.hours-widget div {
    border-bottom: thin dashed #ddd;
    margin-bottom: 8px;
    padding-bottom: 5px;
    line-height: 1.1;
    font-size: .9em;
}
.hours-widget .hours-day {
    font-weight: bold;
}
.hours-widget .hours-open {
    float: right;
    text-align: right;
}

.footer .widget .menu-main-menu-container{
    font-size: 70%;
}
.footer-location .contact-info span{
    display: block;
}

.footer .hours-widget div {
    border-bottom: thin dashed #333;
    margin-bottom: 20px;
    font-size: .8em;
}
/*
.hours-widget .hours-day {
    font-weight: bold;
}
.hours-widget .hours-open {
    float: right;
    text-align: right;
}
*/


/*
testimonials overrides
*/
.testimonialswidget_testimonial_list {
    margin-bottom: 2em;
    border-bottom: dotted thin #eee;
}

/*
site overrides
*/

h1 {
    color: #999;
    font-size: 42px;
    letter-spacing: 0.2em;
    line-height: 50px;
    margin-bottom: 5px;
}

h1, h2, h3, h4, h5, h6 {
    color: #999;
    /*text-shadow: 2px 2px 2px #000025;*/
    font-family: 'PT Sans','Helvetica Neue',​Arial ,​sans-serif;
}

.ddsmoothmenu ul li a {
    text-shadow: 0 0 1px rgba(102, 43, 102, 0.4);
    font-family: 'PT Sans','Helvetica Neue',​Arial ,​sans-serif;
}

/*
FAQ customizations
*/
/*
#faq-block .single-faq .faq-question:hover {
    color: #422142;
    text-decoration: underline;
}
*/
.single-faq {
    margin: 15px 0;
}
.single-faq:hover {
    background-color: #fff;
}
.single-faq h6 {
    margin-left: 10px;
    float: left;
    width: 30%;
    color: #422142;
    font-size: 1.5em;
    font-weight: normal;
    font-style: italic;
    padding-top: 20px;
}
.faq-answer {
    float: left;
    width: 62%;
    margin: 0 5px 0 20px;
}
/*
footer overrides
*/

.footer input[type='text'],
.footer textarea {
    color: #666;
}

.footer input[type='text']:focus,
.footer textarea:focus {
    color: #333;
}

.footer-location {
    margin-top: 35px;
}
.footer-location h6 {
    font-size: 1.2em;
}
.footer-location .contact-link {
    font-size: 1em;
}
.footer-location .location-address {
    margin-bottom: 10px;
}

/*
responsive google map
*/
.google-map img {
    max-width: 100%;
    opacity: 0;
}
.google-map a {
    display: block;
    background-image: url(http://maps.google.com/maps/api/staticmap?size=640x640&zoom=14&maptype=hybrid&markers=color:green|510+Freeport+Ave+NW,+Suite+F+Elk+River,+MN+55330&sensor=false&scale=2);
    background-position: center;
}

.google-map a.small-map {
    background-image: url(http://maps.google.com/maps/api/staticmap?size=240x240&zoom=12&maptype=hybrid&markers=color:green|510+Freeport+Ave+NW,+Suite+F+Elk+River,+MN+55330&sensor=false&scale=2);
}

/*	Blockquotes  */
q { display: block; }
q, q p { font-size: 15px; line-height: 24px; color: #777; font-style: italic; }
q { margin: 0 0 20px; padding: 0px 20px 0 19px; border-left: 1px solid #ddd; }
q cite { display: block; font-size: 12px; color: #555; }
q cite:before { content: "\2014 \0020"; }
q cite a, q cite a:visited, q cite a:visited { color: #555; }

@media only screen and (max-width: 1249px) {
    /*
    hide in-page navigation (smooth scrolling)
    */
    .in-page-nav {
        display: none;
    }
}

@media only screen and (max-width: 767px) {
    .logo {
        display: block;
        text-align: center;
        float: none;
        padding-bottom: 30px;
    }
    .mainmenu {
        margin-top: 5px;
    }
    h3.logophone {
        display: block !important;
        text-align: center;
    }
    h3.logophone a {
        font-size: 40px;
    }

    .single-faq h6 {
        width: 50%;
    }
    .faq-answer {
        width: 90%;
    }


    .socialholder {
        text-align: center;
    }
    .table {
        display: table;
        margin: 0 auto;
    }
    .subfooter .socialtext {
        margin-bottom: 40px;
    }

    #back-to-top {
        bottom: 15px;
    }
}